#nav-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  
  /* background-color: rgba(25, 25, 27, 0.7); */
  /* box-shadow: 2px 2px 5px rgba(73, 140, 200, 0.3); */
  /*rgba(204, 204, 204, 0.3)*/
}

.nav-right{
  margin-right: auto;
}

.nav-logo{
  width: 40%;
  height: auto;
}

.nav-container{
  list-style: none;
}

.nav-item, .nav-item a{
  padding: 0 10px;
  display: inline-block;
  font-weight: 500px;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nav-item, .nav-item a:hover{
  color: rgba(197, 24, 105, 0.5);
}

button{
  padding: 9px 25px;
  margin-left: 20px;
  background-color: rgba(171, 22, 91, 0.8);
  font-weight: 500px;
  font-size: 16px;
  color: #edf0f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(245, 212, 227, 0.7);
  color:rgba(3, 3, 68, 1);
}

.nav-searchbar{
  padding: 0 10px;
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

#search-button{
  width: 16px;
  height: 16px;
  color:#edf0f1;
  padding: 10px;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#search-button:hover{
  color:rgba(171, 22, 91, 0.8);
}